.form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 4px;

    h2 {
        margin: 0 auto;
    }

    button {
        background-color: #f761f7;
        cursor: pointer;
        color: #212121;
        padding: 8px 16px;
        border: 1px solid #939191;
        border-radius: 4px;
        transition: all .3s ease;
        
        &:hover {
            background-color: #7b257b;
            color: #FFFFFF;
        }
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    input {
        border: 1px solid #939191;
        border-radius: 4px;
        height: 32px;
        padding: 0 16px;

        &.ng-invalid.ng-touched {
            border-color: firebrick;
        }
    }

    .text-error {
        padding-left: 8px;
        color: firebrick;
        font-size: 14px;
        animation-name: fadeIn;
        animation-duration: .3s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-14px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
        
    }


}