<form class="form" [ngFormOptions]="{updateOn: 'blur'}">
  <h2>Template Driven Form</h2>
  <div class="form-control">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      placeholder="Name"
      [(ngModel)]="user.name"
      [ngModelOptions]="{name: 'name', updateOn: 'submit', standalone: true}"
      >
  </div>
  <div class="form-control">
    <label for="last-name">Last Name</label>
    <input
      type="text"
      id="last-name"
      placeholder="Last Name"
      [(ngModel)]="user.lastName"
      [ngModelOptions]="{name: 'last-name', updateOn: 'change'}"
      >
  </div>
  <button>Send</button>
</form>

<pre>{{user | json}}</pre>